.hero-pizza {
    background-image: url('../img/pizza.png');
    background-size: cover;

}

.hero-pizza-title {
    background-size: cover;
    width: 100%;
    background-color: white;
    text-align: center;
    opacity: 0.7;
}
