

.container {
    width: 100%;
    padding: 0;
    font-size: 20px;
    text-align: center;
}
.row {
    width: 100%;
    box-sizing: border-box;

}
.alert-info.hidden-on-mobile {
    display: none;
}

.column-one-half {
    float: left;
    width: 50%;
}

.column-one-third {
    width: 33.33%;
    background-color: sandybrown;
    float: left;
    overflow: auto;

    margin-left: 0;
}

.column-one-fourth {
    width: 25%;
    background-color: gold;
    float: left;

}

.column-one-eighth {
    width: 12.5%;
    background-color: violet;
    float: left;
}

.column-two-thirds {
    width: 66%;

}

@media screen and (max-width:768px) {

    .container {
        width: 100%;
    }

    .column-one-half, .column-one-third, .column-one-fourth, .column-one-eighth, .column-two-thirds {
        width: 100%;
    }

    .nav-links li {
        display: block;
        background-color: lightgray;
        padding: 1em;
        text-align: center;
        margin-bottom: 4px;
    }

    ul {
        padding: 0;
    }
}



