html , body {
    margin: 0;
    width: 99.6%;
}
body {
    padding: 5px;
}
.alert-info.hidden-on-mobile {
    display: none;
}

.row {
    width: 100%;
}

.column-one-half{
    width: 50%;
    float: left;
}

 h1 {
     width: 50%;
     float: left;
}

.nav-links{
    float: right;

}

li {
    display: inline-block;
    padding: 5px;
}

a {
    text-decoration: none;
    margin: 0;
}
a:nth-child(2) {
    margin: 100px;
}

.header-img > img {
    width: 100%;
}


div#social-media-links {
    padding-top: 13px;


}





@media screen and (max-width:768px) {

    .container {
        width: 98%;
}

    .nav-links li {
        display: block;
        width: 98%;
        background-color: lightgrey;
        margin-bottom: 10px;
        padding: 5px;
        float: left;
    }

    .nav-links {
        width: 98%;
        text-align: center;
        padding-left: 0;
    }

    li {
        display: block;

    }

    section.sub-section {
        float: none;
        margin: 0;
        font-style: italic;
    }

    section#main.main {
        float: none;
        font-family: sans-serif;
    }

    .alert-info.hidden-on-mobile {
        display: block;
        width: 98%;
        background-color: turquoise;
        text-align: center;
        border: 2px solid #d3d3d3;
    }

    h1 {
        width: 98%;
        text-align: center;
    }

    .header-img > img {
        display: inline-block;
        max-width: 98%;
        padding-left: 8px;

    }
    #social-media-links > a {
        margin: 0;
        padding: 0;
    }

    .column-one-half > p{
        padding-top: 20px;
        margin: 0;
        font-size: 15px;
        text-align: center;
        padding-bottom: 0;
    }

}
