 html body {
     background-size: cover;
     font-family: 'Indie Flower', cursive;
     text-align: center;

 }

 .column1 {
     width: 75px;
     height: 700px;
     float: left;
     padding: 30px;
     background-size: cover;
     background: red; /* For browsers that do not support gradients */
     background: -webkit-radial-gradient(circle, violet, darkslateblue, green); /* Safari */
     background: -o-radial-gradient(circle, violet, darkslateblue, green); /* Opera 11.6 to 12.0 */
     background: -moz-radial-gradient(circle, violet, darkslateblue, green); /* Firefox 3.6 to 15 */
     background: radial-gradient(circle, violet, darkslateblue, green); /* Standard syntax */
     border: 2px solid black;



 }

 div.column2 {
     border: 2px solid black;
     height: 760px;
     background-size: cover ;
     padding-left: 120px;
     background: yellow; /* For browsers that do not support gradients */
     background: linear-gradient(to right, deepskyblue, mediumseagreen, violet); /* Standard syntax */
     border-bottom: none;

 }

 button {

     border-radius: 10px;
     margin-top: 75px;
     background-color: #ffa500;
     animation-name: example;
     animation-duration: 10s;
     font-weight: bold;
 }

 /* Standard syntax */
 @keyframes example {
     from {background-color: crimson;}
     to {background-color: sandybrown;}
 }
 p {
     font-size: 25px;
 }


 a:link {

     color: black;
     text-decoration: none;

 }
  h1 {

     padding-top: 20px;
     color: gold;
     text-decoration: underline wavy;

 }
  
 .footer {

      background: linear-gradient(to bottom, deepskyblue, mediumseagreen, violet );
      border: 2px solid black;
  }

 li {
      display: inline;
      margin: 40px;

  }
